body{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



/* Naptar */

.calendar {
    background: white;
    padding: 20px;
    width:  90%;
    color: black;
}

/* Fejlec */
.calendar h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.calendar h2 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.calendar h2 a:hover {
    background: lightgray;
    color: black;
}

/* Napok */

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 12px;
    color: black;
    margin-bottom: 8px;
}

/* Napok rács */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

/* Nap cella */
.day {
    text-align: center;
    padding: 10px 0;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

.day:hover {
    background: lightgray;
}

/* Masik honap */
.muted {
    color: rgb(185, 176, 176);
}

/* Mai nap */
.today {
    background: rgb(44, 44, 248);
    color: white;
    font-weight: bold;
}

/* Kivalasztott nap */
.selected {
    background: #8ab4f8;
    color: #000;
    font-weight: bold;
}




.day-view {
    float: right;
    height: 725px;
    overflow-y:auto;
    width: 1025px;
    margin-right: 15px;
    border: #000 solid 1px;
    border-radius: 10px;
    padding-right: 10px;
    padding-bottom: none;
    box-sizing: border-box;
}

.time-column {
    float: left;
    width:75px;
    border-right:1px solid #2a2e35;
}

.time-slot {
    height:60px;
    font-size:12px;
    color:#9aa0a6;
    text-align:right;
    padding-right:10px;
    padding-top:5px;
}

.calendar-grid {
    flex:1;
    position:relative;
    min-width: 0;
    width: 80%;
}

.hour-line {
    height:60px;
    border-bottom:1px solid #2a2e35;
    width: 1005px;
}


.event {
    position:absolute;
    padding:6px;
    border-radius:6px;
    font-size:13px;
    color:white;
    box-sizing:border-box;
}

.current-time {
    position:absolute;
    left:0;
    right:0;
    height:2px;
    background:red;
    width: 1005px;
    z-index:5;
}

.current-time::before {
    content:"";
    position:absolute;
    left:-6px;
    top:-4px;
    width:10px;
    height:10px;
    background:red;
    border-radius:50%;
}

/* Reszponzív */
@media(max-width:768px){
    .time-column{width:50px;}
    .time-slot{font-size:10px;}
    .event{font-size:11px;padding:3px;}
}




#menuBtn {
  font-size: 26px;
  margin: 10px;
  cursor: pointer;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#sidebar.open {
  transform: translateX(0);
}

#sidebar.close {
  transform: translateX(-100%);
}

#menuBtn , #closeSidebarBtn ,#ujBtn{
    border: none;
    padding: 4px;
    font-size: x-large;
    border-radius: 100%;
    background: none;
    color: black;
}

#menuBtn:hover , #closeSidebarBtn:hover {
    background: lightgray;
}


#letrehozas {
    top: 100px;
    right: 50px;
    font-size: 32px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}