body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --sidebar-bg: #f4f4f4;
    --event-bg: #4caf50;    
    --border-color: #ddd;
    --muted-text: #888;
    --black-bg:#1a1a1a;
    --week-color:#000000;
}

body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
    --sidebar-bg: #2d2d2d;
    --event-bg: #2e7d32;
    --border-color: #444;
    --muted-text: #666;
}

.menupont {
  font-size: 0.9rem;
  width: 280px;
  display: flex;
}
#navdiv {
  float: left;
  width: 300px;
  height: 493px;
  padding-left: 10px;
}
#nav {
  width: 223px;
  height: 493px;
  align-items: baseline;
}
#cimsor {
  height: 80px;
}
#cim {
  height: 48px;
  width: 500px;
  padding-left: 10px;
  align-content: center;
  font-size: 200%;
}
.menupontDiv {
  display: flex;
  background-color: var(--bg-color);
  align-items: center;
  width: 120px;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  
}

.menupontSpan {
  float: right;
}

span {
  display: inline-block;
  vertical-align: middle;
}

a {
  height: 50px;
  text-decoration: none;
  color: var(--text-color);
}

i {
  height: 20px;
  width: 20px;
  float: left;
  padding-right: 5px;
}
.menupontDiv:hover{
  background-color: var(--muted-text);
}

span{
  color: var(--text-color);
}
